:root {
    --lightblue: rgb(211, 211, 246);
    --darkblue: #4720a1;
    --text: #000000;
    --blue: #47549f;
    --tablebackground: #d0caf7;
    --background: rgb(204, 207, 249);
    --midpurple: #b09bd6;
    --greypurple: #E2E4F0;
    --darkPurple: #51547b;
}
